.wrapEvents{    
    margin-left: 160px;
    margin-top: 65px;    
}
.beevy{
    margin-top: 20px;
    margin-left: 500px;
    display: flex;   
    flex-direction: row;
}
.beevy h4{
    margin-right: 10px;
}
.beevy p{
    background-color: #4285F4;
    padding: 3px 28px 3px 20px;
    border-radius: 40px;
    font-weight: bold;
    color: #FFFFFF;
}